<header class="bg-dark py-5">
  <div class="container px-5">
    <div class="row gx-5 justify-content-center">
      <div class="col-lg-6">
        <div class="text-center my-5">
          <h1 class="display-5 fw-bolder text-white mb-2">
            Dream job for sale
          </h1>
          <p class="lead text-white-50 mb-4">
            Your children can work for Google, Nasa, Tiktok or Uber
          </p>
          <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
            <%= button_to  "Get Started", new_user_registration_path, method: :get, class:"btn btn-primary btn-lg px-4 me-sm-3" %>
            <a class="btn btn-outline-light btn-lg px-4" href="#!">Learn More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
